body{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #C6D8F4;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 0px;
    background: #6B7AFF;
    border: 1px solid #000;
  }
  
  .navbar_img{
    margin-right: 10px;
  }
  
  .navbar_title h1{
    margin: 0;
    color: white;
  }

.encabezado{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:20px;
line-height:auto;
border-style:hidden;
outline:none;
top:55px;
left:21px;
position:absolute;
width:186px;
font-weight: bold;
}

.rectangle97
{
background-color:#ffffff;
height:44px;
width:600px;
border-radius:0px 50px 50px 0px;
}

.Rectangle102{
    width: 600px; 
    height: 44px; 
    background: white; 
    border-top-left-radius: 50px; 
    border-top-right-radius: 50px
}

.empleado1
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:15px;
line-height:auto;
border-style:hidden;
outline:none;
top:89px;
left:36px;
position:absolute;
width:136px;
font-weight: bold;
}
.empleado2
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:15px;
line-height:auto;
border-style:hidden;
outline:none;
top:146px;
left:36px;
position:absolute;
width:136px;
font-weight: bold;
}
.encargado
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:15px;
line-height:auto;
border-style:hidden;
outline:none;
top:89px;
left:289px;
position:absolute;
width:83px;
font-weight: bold;
}
.encargado2
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:15px;
line-height:auto;
border-style:hidden;
outline:none;
top:146px;
left:289px;
position:absolute;
width:83px;
font-weight: bold;
}

.editar button{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:13px;
line-height:auto;
border-style:hidden;
outline:none;
top:89px;
left:541px;
position:absolute;
width:70px;
box-sizing: border-box;
position: absolute;
height: 21px;
background: rgba(107, 122, 255, 0.6);
border: 1px solid #000000;

}
.editar2 button{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:13px;
line-height:auto;
border-style:hidden;
outline:none;
top:146px;
left:541px;
position:absolute;
width:70px;
position: absolute;
height: 21px;
background: rgba(107, 122, 255, 0.6);
border: 1px solid #000000;

}