body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #C6D8F4;
    border: 1px;
}

.logo-conteiner {
    flex: 1;
    text-align: center;
}

.Login-conteiner {
    flex: 0.5;
    background-color: #4174bf;
    padding: 90px;
    border: 1px solid #000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    right: 438px;
}

.Login-conteiner h1 {
    margin-bottom: 20px;
}

.Usuario {
    margin-bottom: 15px;
}

.Usuario label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.Usuario input {
    width: 100%;
    padding: 8px;
    border: 1px solid #000;
    border-radius: 30px;
    height: 27px;
    top: 144px;
    left: 427px;
    background-color: #c8f2cc;
}

.Contraseña {
    margin-bottom: 15px;
}

.Contraseña label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;

}

.Contraseña input {
    width: 100%;
    padding: 8px;
    border: 1px solid #000;
    border-radius: 30px;
    height: 27px;
    top: 144px;
    left: 427px;
    background-color: #c8f2cc;
}

.Buttom button {
    width: 73%;
    height: 41px;
    top: 313px;
    left: 486px;
    background-color: #c8f2cc;
    border: 1px solid #000;
    border-radius: 30px;
    cursor: pointer;
}

.Buttom a {
    text-decoration: none;
    color: #000;
    width: 212px;
    height: 26px;
    top: 229px;
    left: 459px;
    gap: 0px;
    opacity: 0px;

}

.Buttom a:hover {
    color: #fff;
}

.Buttom button:hover {
    background-color: #fff;
}

.Links {
    text-align: center;
    margin-top: 10px;
}

.Links a {
    color: #000;
    text-decoration: none;
}

.Links a:hover {
    text-decoration: none;
    color: #fff;
}