*{
    margin: 0;
    padding: 0;
}

body{
    background: #c6d8f4;
}

.horario-contenedor{
    width: 639px; 
    height: 393px; 
    position: relative;
}

.contenedor{
    width: 639px; 
    height: 393px; 
    left: 0px; 
    top: 0px; 
    position: absolute; 
    background: #C6D8F4; 
    border: 1px black solid;
}

.navbar{
    width: 639px; 
    height: 33.83px; 
    left: 0px; 
    top: 0px; 
    position: absolute; 
    background: #6B7AFF; 
    border: 1px black solid;
}

.navbar h2{
    width: 161px; 
    height: 33.83px; 
    left: 42.62px; 
    top: 8.98px; 
    position: absolute; 
    color: white; 
    font-size: 15px; 
    font-family: Mulish; 
    font-weight: 800; 
    word-wrap: break-word;
}

img{
    width: 9px; 
    height: 16px; 
    left: 14px; 
    top: 7px; 
    position: absolute; 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
    border: 8px white solid;
}

.navbar .imagen21{
    width: 20px; 
    height: 20.89px; 
    left: 598px; 
    top: 6.96px; 
    position: absolute; 
    opacity: 0.60;
}

.navbar .imagen23{
    width: 20px; 
    height: 20.89px; 
    left: 568px; 
    top: 6.96px; 
    position: absolute;
}

.label{
    color: black; 
    font-size: 14px; 
    font-family: Mulish; 
    font-weight: 800; 
    font-weight: bold;
    word-wrap: break-word;
}

.label .day{
    width: 58.86px; 
    height: 28.92px; 
    left: 317.62px; 
    top: 74.79px; 
    position: absolute;
}

.label .month{
    width: 58.86px; 
    height: 28.92px; 
    left: 317.62px; 
    top: 103.71px; 
    position: absolute;
}

.label .hours{
    width: 58.86px; 
    height: 28.92px; 
    left: 317.62px; 
    top: 135.62px; 
    position: absolute;
}

.label .description{
    width: 104.52px; 
    height: 28.92px; 
    left: 18.27px; 
    top: 274.24px; 
    position: absolute; 
}

.label .con1{
    width: 104.52px; 
    height: 28.92px; 
    left: 57.84px; 
    top: 255.29px; 
    position: absolute;
}

.label .con2{
    width: 104.52px; 
    height: 28.92px; 
    left: 264.86px; 
    top: 254.29px; 
    position: absolute;
}

.label .con3{
    width: 104.52px; 
    height: 28.92px; 
    left: 471.87px; 
    top: 254.29px; 
    position: absolute;
}

.calendario1{
    width: 253.69px; 
    height: 149.58px; 
    left: 27.40px; 
    top: 54.85px; 
    position: absolute; 
    border: 1px black solid; 
    backdrop-filter: blur(4px) src="https://via.placeholder.com/254x150"
}

.Buttom button{
    width: 178.60px; 
    height: 19.94px; 
    left: 21.31px; 
    top: 254.29px; 
    position: absolute; 
    background: #6B7AFF; 
    border-radius: 50px;
}

.BTN button{
    width: 178.60px; 
    height: 19.94px; 
    left: 230.35px; 
    top: 254.29px; 
    position: absolute; 
    background: #6B7AFF; 
    border-radius: 50px;
}

.rectan23{
    width: 178.60px; 
    height: 19.94px; 
    left: 357.20px; 
    top: 74.79px; 
    position: absolute; 
    background: #6B7AFF; 
    border-radius: 50px;
}

.rectan24{
    width: 178.60px; 
    height: 19.94px; 
    left: 357.20px; 
    top: 103.71px; 
    position: absolute; 
    background: #6B7AFF; 
    border-radius: 50px;
}

.rectan25{
    width: 178.60px; 
    height: 19.94px; 
    left: 357.20px; 
    top: 135.62px; 
    position: absolute; 
    background: #6B7AFF; 
    border-radius: 50px;
}

.btninfo button{
    width: 178.60px; 
    height: 19.94px; 
    left: 424.17px; 
    top: 254.29px; 
    position: absolute; 
    background: #6B7AFF; 
    border-radius: 50px;
}

.rectan30{
    width: 599.73px; 
    height: 52.85px; 
    left: 19.28px; 
    top: 294.18px; 
    position: absolute; 
    background: rgba(255, 255, 255, 0); 
    border: 1px black solid;
}

.cancelar{
    width: 558.12px; 
    height: 28.92px; 
    left: 21.31px; 
    top: 298.17px; 
    position: absolute; 
    color: black; 
    font-size: 15px; 
    font-family: New Tegomin; 
    font-weight: 400; 
    word-wrap: break-word;
}

.buttom1 button{
    width: 111.62px; 
    height: 19.94px; 
    left: 349.08px; 
    top: 358px; position: 
    absolute; background: #EB7676; 
    border-radius: 50px;
    font-size: 14px;
    font-family: mulish;
    font-weight: bold;
    cursor: pointer;
}

.buttom1 a:hover {
    color: #fff;
}

.buttom1 button:hover {
    background-color: #fff;
}

.Btn1 button{
    width: 111.62px; 
    height: 19.94px; 
    left: 496.22px; 
    top: 358px; 
    position: absolute; 
    background: #6B7AFF; 
    border-radius: 50px;
    font-size: 14px;
    font-family: mulish;
    font-weight: bold;
    cursor: pointer;
}

.Btn1 a:hover {
    color: #fff;
}

.Btn1 button:hover {
    background-color: #fff;
}
